.blue-button {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px;
}

.blue-button:hover {
    color: #2ad630;
    background: #2ad630;
}
.sizeimg{
    position: absolute;
    width:150px;
    height:150px;
    
}
body{
  background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(background.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}
#handwrite{
    font-family: 'Permanent Marker', cursive;
    color:#726e5a;
}
body.bg{
      background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(img.jpg);
      background-size:cover;
      background-repeat: no-repeat;
}
strong{
    color:red;
}
div{
    font-size: 24px;
}
.borders{
    border-color: #ea3333;
    border-style: solid;
    padding: 20px;
    position: relative;
    margin: auto;
    margin:20px 10px 25px 10px;
}

img:hover {
    opacity: 1.0;
}
img{
    opacity:.3;
    float: left;
    position: absolute;
    height:auto;
    width:auto;
    margin:auto;
}
.size1{
    height:200px;
    width:270px;
    max-height:200px;
    max-width: 270px;
}
.borders1{
    padding: 25px;
    border-color: blue;
    border-style: solid;
    position: relative;
    margin:20px 10px 25px 10px;


}
button{
        display: block;
}
hr{
    color: #2cf436;
    background-color: #f00;
    height: 5px;
}
.white{
    color:white;
}