.blue-button {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px;
}

.blue-button:hover {
    color: #2ad630;
    background: #2ad630;
}
img{
    height:auto;
    width:auto;
    margin:auto;
}
img.sizeimg{
    height:100%;
    width:100%;
}
body {
    /*background:#7a8586 url('BG.jpg') no-repeat;*/
  background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(GGO.png);
  background-size:cover;
}
#handwrite{
    font-family: 'Permanent Marker', cursive;
    color:#726e5a;
}
h2{
    
}
img{
    float: left;
}
strong{
    color:red;
}
div{
    font-size: 50px;
}
.borders{
    border-color: #ea3333;
    border-style: solid;
    margin: auto;
    margin:20px 10px 20px 10px;
}

img:hover {
    opacity: 1.0;
}
img{
    opacity:.5;
}
p:hover{
     opacity:1.4;
}