.blue-button {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px;
}

.blue-button:hover {
    color: #2ad630;
    background: #2ad630;
}
img{
    height:auto;
    width:auto;
    margin:auto;
}
.sizeimg{
    width:150px;
    height:150px;
    
}
body{
  background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(GGO.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#handwrite{
    font-family: 'Permanent Marker', cursive;
    color:#726e5a;
}
body.bg{
      background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(img.jpg);
      background-size:cover;
      background-repeat: no-repeat;
}
strong{
    color:red;
}
div{
    font-size: 24px;
}
.borders{
    border-color: #ea3333;
    border-style: solid;
    margin: auto;
    margin:20px 10px 20px 10px;
}

img:hover {
    opacity: 1.0;
}
img{
    opacity:.5;
    float: left;
}
p:hover{
     opacity:1.4;
}
button{
        display: block;
}